.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}


body {
  /* background-color: #393E46; */
  background: linear-gradient(300deg, #1599c5, #234cee, #dd1794);
  background-size: 180% 180%;
  animation: gradient-animation 2s ease infinite;
  
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 15px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img{
  width: 80%; 
}

footer {
  margin-top: 110px;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
button{
  font-size:20px ;
  width: 15%;

  position: absolute;
  margin-top: 2%;
  left: 45%;      
 border-radius: 30%;
   background-color:aqua; 
 min-width:fit-content;
}
