/* styles.css */

.video-bg { 
  position: absolute; 
  top: 0; left: 0; 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  z-index: -1; 
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
   background-color: #011f3f; 
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  text-align: center;
}

#level-title {
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.btn {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 15px;
  border: 4px solid black;
  animation: borderColorChange 3s infinite; 
  
}
@keyframes borderColorChange { 
  0% { border-color: red; } 
  25% { border-color: blue; } 
  50% { border-color: green; } 
  75% { border-color: yellow; } 
  100% { border-color: rgb(113, 93, 93); } 
}

#green {
  background-color: #00a74a;
}

#red {
  background-color: #d71c1c;
}

#yellow {
  background-color: #ffea00;
}

#blue {
  background-color: #1c8cff;
}

.btn.pressed {
  box-shadow: 0 0 20px white;
  opacity: 0.7;
}

body.game-over {
  background-color: red;
}


.a{
  position: absolute;    
 min-width:fit-content;
 display: flex;
    
}
button{
  font-size: 100%;
  border-radius: 30px;
  background-color: #77799d;
  border: 3px solid black;
  cursor: pointer;      
  bottom: 10px; 
 margin-top: 20%;
  position: fixed; 
  animation: borderColorChange 3s infinite; 
}
