li{
  font-size:larger;
  font-weight: 750;
 
   }
 .container1{
     background: linear-gradient(300deg, #145d76, #5529c4, #3db9e3); 
   
     background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite; 
 }
   #pricing{
    background-image: url('https://cdn.pixabay.com/photo/2024/04/19/12/13/ai-generated-8706226_640.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:scroll;
border-radius: 10%;
}
#a{
  border-radius: 19%;
width: 80%;
}
.card-body{

  border-radius: 50%;
}
/* .image{
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-XTqMTfcGvQyv8twRx4CiJaKfn3Gmt9GmKw&s') ;

} */

#time {
  font-size: 2em;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  text-align:center;
  color: #333;
}