#time {

    margin-top: 20px;
    text-align:center;
    color: #333;
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 10px 0 #232931;
    font-size: 8rem;
   
  }
#calc{
 text-align: center;
}
input{
  font-size: 4rem;
}
button{
 
    font-size:20px ;
    position: absolute;    
   border-radius: 30%;
     background-color:aqua; 
   min-width:fit-content;
  }

.output{
  margin-top: 2%;
  font-size: 4rem;
}